{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% if g.user.roles[0].name == 'Admin' %}
    {% extends "appbuilder/base.html" %}
{% else %}
    {% extends "solar/basic.html" %}
{% endif %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
{{ lib.panel_begin(title) }}

{% if related_views is defined %}
    <ul class="nav nav-tabs">
    <li class="active"><a href="#Home" data-toggle="tab">{{ _("Detail") }}</a> </li>
        {% for view in related_views %}
        <li><a href="#{{view.__class__.__name__}}" data-toggle="tab">{{view.title}}</a></li>
        {% endfor %}
        </ul>

        <div class="tab-content">
        {% for view in related_views %}
        <div id="{{view.__class__.__name__}}" class="tab-pane">
        {{ widgets.get('related_views')[loop.index - 1]()|safe }}
    </div>
    {% endfor %}
{% endif %}

{% if g.user.roles[0].name == 'Admin' %}
    {% block edit_form %}
        <div id="Home" class="tab-pane active">
            {{ widgets.get('edit')(form_action=form_action)|safe }}
        </div>

    {% endblock %}
{% else %}
    {% block solar_content %}
        <div class="s-layout__content">
            <div class="list-alert-top">
                {% block messages %}
                  {% include 'superset/flash_wrapper.html' %}
                {% endblock %}
            </div>
            <div class="user-info-card">
                <h3>My Profile</h3>
                <hr>
                {{ widgets.get('edit')()|safe }}
            </div>
        </div>
    {% endblock %}
{% endif %}

    {% if related_views is defined %} </div> {% endif %}

{{ lib.panel_end() }}
{% endblock %}

{% block add_tail_js %}
<script src="{{url_for('appbuilder.static',filename='js/ab_keep_tab.js')}}"></script>
{% endblock %}
